li {
  line-height: unset;
}

.footer-container {
  .footer-wrapper {
    padding-top: 6rem;
    padding: 0 10rem;

    .footer-top {
      display: flex;
      justify-content: space-between;

      @media all and (max-width: 960px) {
        flex-direction: column;
      }
    }

    .footer-bottom {
      padding: 1.5rem 0;
      border-top: 1px solid #1a1a1a;
      .footer-connect {
        display: flex;
        justify-content: space-between;
        flex-direction: row-reverse;

        .footer-social-icon {
          flex: 0.3;
          display: flex;
          justify-content: space-between;
        }

        .footer-bottom-wrapper {
          display: flex;
          align-items: center;
        }

        @media all and (max-width: 960px) {
          flex-direction: column;

          .footer-social-icon {
            justify-content: space-around;
          }

          .footer-bottom-wrapper {
            justify-content: center;
          }
        }
      }
    }
    @media all and (max-width: 960px) {
      padding: 0 1rem;
    }
  }
}
