.post-container {
  .post-wrapper {
    padding: 2rem 10rem;

    .post-header {
      padding: 2rem 0;
      .post-title {
        text-align: center;
      }

      .post-info {
        display: flex;
        align-items: center;
        padding-top: 1rem;
        justify-content: center;

        .post-author {
          display: flex;
          align-items: center;

          .avatar {
            margin-right: 0.5rem;
          }
        }

        .post-time {
          color: grey;
          padding-left: 1rem;
          font-size: small;
        }

        .post-tag {
          .tag {
            box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
            padding: 0.5rem;
            border-radius: 50px;
          }
        }
      }
    }

    .post-body {
      display: flex;
      justify-content: center;
    }

    .post-comment {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .comment-wrapper {
        padding: 1rem 15rem;

        @media all and (max-width: 960px) {
          padding: 1rem 0;
        }
      }

      .comment-avatar {
        margin-right: 0.5rem;
      }
    }

    @media all and (max-width: 960px) {
      padding: unset;
    }
  }
}
