#navbar-container {
  top: 0px;
  height: 76px;
  position: sticky;
  background: transparent;
  z-index: 9999;

  .navbar-wrapper {
    backdrop-filter: saturate(180%) blur(10px);
    box-shadow: rgb(2 1 1 / 10%) 0px 5px 20px -5px;
    background-color: hsla(0,0%,100%,0.8);
    padding: 0 10rem;

    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

    .navbar-left {
      flex: 1;

      .logo {
        font-family: 'Righteous', cursive;
        font-size: 2rem;
      }
    }

    .navbar-center {
      flex: 1;
      .navbar-navigation {
        display: flex;
        justify-content: space-around;
      }

      @media all and (max-width: 960px) {
        display: none;
      }
    }

    .navbar-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .user-info {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      #button-signup {
        margin-right: calc(1 * 1.25rem / 2);
      }

      @media all and (max-width: 960px) {
        display: none;
      }
    }

    @media all and (max-width: 1280px) {
      padding: unset;
      text-align: center;
    }
  }
}

.active {
  font-weight: 600;
  color: #0072F5;
}

a {
  color: black;
}
